{
  "env": {
    "browser": false,
    "node": true
  },
  "extends": [
    "sanity",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "max-depth": [5, "warn"]
  }
}
