{
  "ignorePatterns": ["bin/*"],
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "complexity": "off",
    "max-depth": "off",
    "camelcase": ["error", {
      "allow": ["__i18n_lang", "__i18n_refs", "__i18n_base"]
    }],
    "node/no-missing-import": "off"
  }
}
